.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

.image-border:hover{
    outline:1px solid black;
}