

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Horoscope

            </div>

        </div>
        <div class="row" style="padding-bottom: 10px;">

            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(1)">
                        <img class="img-responsive img-home-portfolio centered " style="margin-bottom: 0px;"
                             height="150" width="150" src="images/aries.jpg">
                    </a>
                </div>
                <div style="text-align: center; padding-bottom:5px; ">Aries (मेष)</div>

            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(2)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/taurus.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Taurus (वृष)</div>

            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(3)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/gemini.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Gemini (मिथुन)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(4)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/cancer.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Cancer (कर्क)</div>

            </div>

        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(5)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/leo.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Leo (सिंह)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(6)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/virgo.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Virgo (कन्या)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(7)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/libra.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Libra (तुला)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(8)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/scorpio.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Scorpio (वृश्चिक)</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(9)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/sagittarius.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Sagittarius (धनु)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(10)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/aquarius.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Aquarius (कुंभ)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(11)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/pisces.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Pisces (मीन)</div>
            </div>
            <div class="col-md-3 image-border">
                <div>
                    <a ng-click="zodiacPopover(12)">
                        <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150"
                             width="150" src="images/capricorn.jpg">
                    </a>
                </div>
                <div style="text-align:center; padding-bottom:5px;">Capricorn (मकर)</div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

